
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-">
            <div class="product-details mr-2">
                <div class="row align-items-center btn btn-success"> <a class="text-light" href="<%= parkings_url%>">Continue Shopping</a></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between"><span></span>
                    <div class="d-flex flex-row align-items-center"><span class="text-black-50">Price:</span>
                    </div>
                </div>
                <% @order.order_items.includes(:parking).each do |item| %>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"> <%= image_tag item.parking.image.variant(resize: "100x100" ), :class => 'rounded', :id => "left-photo" %>
                        <div class="ml-2"><span class="font-weight-bold d-block"><%= item.parking.address %> </span><span class="spec"><%= item.parking.description %></span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block"></span><span class="d-block ml-5 font-weight-bold" id='trash-icon'>$ <%= item.parking.price %></span>
                          <%= link_to delete_item_cart_path(item.id)  do%>
                          <div class="fas fa-trash-alt"> </div>
                          <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <br>
      <div class=" justify-content-end my-4" id="button-pay" >
        <%= link_to 'pay', mercado_pago_path(@order.id), class:"btn btn-success pull-right me-4" %>
        Total: $ <b><%= @order.total %></b>
        </div>
    </div>
</div>



