<%= form_with(model: parking, remote: true) do |form| %>
  <div class="form-group">
    <h4 class="control-label">Parking Information:</h4>
  </div>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="item form-group">
    <%= form.label :address, 'Address:' %>
    <div class="input-group">
      <%= form.text_field :address, {:class=> "form-control", :placeholder=>"Introduzca la direccion..."} %>
    </div>
  </div>

  <br>

  <div class="item form-group">
    <%= form.label :description, 'Description:' %>
    <div class="input-group">
      <%= form.text_area :description, {:class=> "form-control", :placeholder=>"Introduzca descripcion..."} %>
    </div>
  </div>

  <br>


  <br>

  <div class="item form-group">
    <%= form.label :price, 'Price:' %>
    <div class="input-group">
      <%= form.text_field :price, {:class=> "form-control", :placeholder=>"Introduzca un precio..."} %>
    </div>
  </div>

  <br>

  <div class="item form-group">
    <%= form.label :size, 'Size:' %>
    <div class="input-group">
      <%= form.select(:size, Parking.sizes.keys.to_a, {:prompt => 'Selecciona un tamaño'}, {class: "form-control"})  %>
      </div>
  </div>

  <br>

  <div class="item form-group">
    <%= form.label :image, 'Image:' %>
    <div class="input-group">
      <%= form.file_field :image, direct_upload: true %>
    </div>
  </div>
  
  <br>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
