<!DOCTYPE html>
<html>
  <head>
    <title>App Parking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body class="color">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= fa_icon('parking', class: 'my-class', size: '2x') %>      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= link_to parkings_path, class: "nav-link #{'active fw-bold' if current_page?(parkings_path)}" do %>
          <div class="fa fa-home"></div>
          Parkings
        <% end %>
          <%= link_to about_path, class: "nav-link #{'active fw-bold' if current_page?(about_path)}" do %>
          <div class="fas fa-handshake"></div>
          About
        <% end %> 
        <% if user_signed_in? %>
          <%= form_tag({:controller => "parkings", :action => "index"}, :method => :get) do %>
            <%= text_field_tag "searchbox", params[:searchbox] %>
            <%= submit_tag "Buscar", :name => nil %>
          <% end %>
        <% end %>       
      </ul>
      <ul class="navbar-nav ms-auto " id='burger'>
      
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa fa-user"></div>
              <b><%= current_user.email %></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <%= link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do %>
                <div class="far fa-edit"></div>
                <b>Account settings</b>
              <% end %>
              <% if current_user.admin?%>
                <%= link_to dashboard_path, class: "dropdown-item" do %>
                  <div class="fas fa-sliders-h"></div>
                  <b>Dashboard</b>
                <% end %>
                
                <% end %>
                
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <div class="fa fa-sign-out-alt"></div>
                <b>Sign out</b>
              <% end %>
            </ul>
          </li>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    <%= yield %>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
